# ðŸ”¹ Nested Loop

In [ ]:
'''loop inside a loop
Practice Questions:

Print star pattern.
Print number pattern.
Print square pattern.
Print multiplication tables from 1 to 5.
Print triangle pattern.'''

In [6]:
n = 5
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print(j, end="")
    print()

1
12
123
1234
12345

In [8]:
n = 5
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print('*', end="")
    print()

*
**
***
****
*****

In [9]:
n = 5
for i in range(n):
    print("*" * n)

*****
*****
*****
*****
*****

In [10]:
for i in range(1, 6):
    print(f"\nTable of {i}")
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")

Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
n = 5
for i in range(1, n + 1):
    print(" " * (n - i) + "*" * i)

    *
   **
  ***
 ****
*****

In [ ]:
'''â­ Interview Important Programs
Factorial of a number
Prime number check
Fibonacci series
Count vowels in a string
Sum of even and odd numbers separately'''

In [12]:
n=5
fact=1
while n>0:
    fact=fact*n
    n-=1
print(fact)

120

In [15]:
def prime(n):
    count = 0
    for i in range(1, n + 1):
        if n % i == 0:
            count += 1

    if count == 2:
        print("prime number")
    else:
        print("not a prime number")

n = 5
prime(n)

prime number

In [17]:
s = "abhishek"
vowels = "aeiouAEIOU"
count = 0

for ch in s:
    if ch in vowels:
        count += 1

print("Vowel count:", count)

Vowel count: 3

In [18]:
numbers = [1, 2, 3, 4, 5, 6]
even_sum = 0
odd_sum = 0

for num in numbers:
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 12
Sum of odd numbers: 9

In [ ]:
#fibonacci series
n = 7
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8